<header class="main-header">
    <a routerLink=""><img src="../../assets/Logo.png" alt="Logo" id="logo"></a>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a routerLink="/contato">Contato</a>
                </li>
                <li>
                    <a routerLink="">Produtos</a>
                </li>
                <li>
                    <a routerLink="/carrinho"><i class="fa-solid fa-cart-shopping"></i> Carrinho <span class="badge-carrinho">{{ carrinhoService.obterCarrinho().length }}</span></a>                    
                </li>
            </ul>
        </nav>
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>