<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact__form">
        <input type="text" placeholder="Digite o seu nome">
        <input type="text" placeholder="Digite o assunto">
        <input type="tel" placeholder="(00) 0 0000-0000">
        <input type="email" placeholder="Digite o seu e-mail">
        <textarea name="" id="" cols="30" rows="10" maxlength="300" placeholder="Digite a sua mensagem."></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.417247258554!2d-34.88997368567068!3d-8.058851382747639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18c10c9b8a4d%3A0xb6c1a128c217f351!2sAv.%20Conde%20da%20Boa%20Vista%2C%20Recife%20-%20PE%2C%2050030-230!5e0!3m2!1spt-BR!2sbr!4v1668737981650!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Rua XXX, número 000. Recife - PE</p>
    </address>
</section>
